* {
    box-sizing: border-box;
  }

  body {
    font-family: "Libre Baskerville", Times, serif;
    background: #f7f7f7;
    color: #434343;
    margin: 0;
  }

  body > section, article {
    padding: 0 10px;
    margin: 0 auto 120px auto;
    max-width: 900px;
  }
  header {
    border-top: 8px solid #36b4a7;
    border-bottom: 2px solid #BDD5E9;
    box-shadow: 2px 0 4px #BCBCBC;
    margin-bottom: 64px;
    background: #fff;
  }
  header p.title, header p.subtitle {
    max-width: 900px;
    padding: 0 10px;
    font-variant: small-caps;
    margin: 0 auto;
  }
  header p.title {
    font-size: 32px;
    margin-top: 16px;
  }
  header p.subtitle {
    margin-bottom: 8px;
  }

  section:target h2, section:target h3, article:target h1 {
    color: #36b4a7;
  }

  article {
    /* the padding is 116px 116px 80px 116px, from which we remove the border */
    padding: 88px 88px 72px 108px;
    background: #fff;
    border-top: 28px solid transparent;
    border-right: 28px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 4px solid transparent;
    border-image: url('card-bg.png') 28 28 8 4 repeat;
    font-size: 13px;
    font-weight: 300;
    line-height: 24px;
    -moz-hyphens: auto;
    hyphens: auto;
  }
  h1, h2, h3 {
    font-variant: small-caps;
    text-align: center;
    font-weight: 300;
  }
  h1 {
    padding-top:  16px;
    padding-bottom: 16px;
    letter-spacing: .75px;
    font-size: 24px;
    line-height: 32px;
  }
  h2 {
    padding-top: 16px;
    padding-bottom: 0;
    margin-bottom: 0;
    letter-spacing: .75px;
    font-size: 20px;
  }
  h3 {
    padding-top: 16px;
    padding-bottom: 0;
    letter-spacing:.5px;
    font-size: 16px;
  }

  a {
    color: #36b4a7;
  }
  a, :link, :visited {
    text-decoration: none;
    color: #36b4a7;
  }
  a:active {
    color: #70f1e0;
  }

  footer {
    font-size: 15px;
    box-shadow: -1px 0px 2px #BCBCBC;
    background: rgb(189, 233, 222);
    /*border-top: 2px solid #F9EABD;*/
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  footer p {
    max-width: 900px;
    padding: 14px 10px;
    margin: 0 auto;
    text-align: center;
  }
  footer a:link, footer a:visited {
    color: green;
  }